<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kaqui"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight">
        <activity android:name=".mainmenu.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="kaqui.org"
                    android:pathPrefix="/kaquiAppLink"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainmenu.HiraganaMenuActivity"
            android:label="@string/hiragana_title"
            android:parentActivityName=".mainmenu.MainActivity" />
        <activity
            android:name=".mainmenu.KatakanaMenuActivity"
            android:label="@string/katakana_title"
            android:parentActivityName=".mainmenu.MainActivity" />
        <activity
            android:name=".mainmenu.KanjiMenuActivity"
            android:label="@string/kanji_title"
            android:parentActivityName=".mainmenu.MainActivity" />
        <activity
            android:name=".mainmenu.VocabularyMenuActivity"
            android:label="@string/word_title"
            android:parentActivityName=".mainmenu.MainActivity" />
        <activity
            android:name=".testactivities.TestActivity"
            android:parentActivityName=".mainmenu.MainActivity" />
        <activity
            android:name=".settings.SavedSelectionsActivity"
            android:parentActivityName=".mainmenu.MainActivity" />
        <activity
            android:name=".settings.ClassSelectionActivity"
            android:parentActivityName=".mainmenu.MainActivity" />
        <activity
            android:name=".settings.ItemSearchActivity"
            android:parentActivityName=".mainmenu.MainActivity" />
        <activity
            android:name=".settings.ItemSelectionActivity"
            android:parentActivityName=".mainmenu.MainActivity" />
        <activity
            android:name=".settings.MainSettingsActivity"
            android:label="@string/title_activity_main_settings"
            android:parentActivityName=".mainmenu.MainActivity" />
        <activity
            android:name=".settings.AboutActivity"
            android:label="@string/title_about"
            android:parentActivityName=".settings.MainSettingsActivity" />
    </application>

</manifest>
