<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kaqui"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name="org.kaqui.mainmenu.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="kaqui.org"
                    android:pathPrefix="/kaquiAppLink" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.kaqui.mainmenu.HiraganaMenuActivity"
            android:parentActivityName=".mainmenu.MainActivity" />
        <activity
            android:name="org.kaqui.mainmenu.KatakanaMenuActivity"
            android:parentActivityName=".mainmenu.MainActivity" />
        <activity
            android:name="org.kaqui.mainmenu.KanjiMenuActivity"
            android:parentActivityName=".mainmenu.MainActivity" />
        <activity
            android:name="org.kaqui.mainmenu.VocabularyMenuActivity"
            android:parentActivityName=".mainmenu.MainActivity" />

        <activity
            android:name="org.kaqui.TestActivity"
            android:parentActivityName=".mainmenu.MainActivity" />
        <activity
            android:name="org.kaqui.WritingTestActivity"
            android:parentActivityName=".mainmenu.MainActivity" />
        <activity
            android:name="org.kaqui.CompositionTestActivity"
            android:parentActivityName=".mainmenu.MainActivity" />
        <activity
            android:name=".settings.SavedSelectionsActivity"
            android:parentActivityName=".mainmenu.MainActivity" />
        <activity
            android:name=".settings.JlptSelectionActivity"
            android:parentActivityName=".mainmenu.MainActivity" />
        <activity
            android:name=".settings.ItemSearchActivity"
            android:parentActivityName=".mainmenu.MainActivity" />
        <activity
            android:name=".settings.ItemSelectionActivity"
            android:parentActivityName=".mainmenu.MainActivity" />
    </application>

</manifest>