<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kaqui">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name="org.kaqui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="kaqui.org"
                    android:pathPrefix="/kaquiAppLink" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.kaqui.QuizzActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".settings.JlptSelectionActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".settings.KanjiSelectionActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".settings.KanjiSearchActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".settings.KanaSelectionActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>